Repository RedHat-UX/red-hat-design-system, pull requests merged in 2023-10, with the labels that each got.

#1250 docs: removing pf spacer references
  docs/foundations/spacing.njk
  elements/rh-card/docs/10-style.md
  elements/rh-jump-links/docs/10-style.md
  elements/rh-popover/docs/10-style.md
  elements/rh-progress-steps/docs/10-style.md
  package-lock.json
Labels: docs

#1236 docs: decouple from patternfly tools
  docs/_plugins/shortcodes/renderInstallation.cjs
  elements/rh-accordion/docs/30-code.md
  elements/rh-alert/docs/30-code.md
  elements/rh-audio-player/docs/40-code.md
  elements/rh-avatar/docs/30-code.md
  elements/rh-badge/docs/30-code.md
  elements/rh-blockquote/docs/30-code.md
  elements/rh-button/docs/30-code.md
  elements/rh-card/docs/30-code.md
  elements/rh-code-block/docs/40-code.md
  elements/rh-cta/docs/30-code.md
  elements/rh-dialog/docs/30-code.md
  elements/rh-footer/docs/30-code.md
  elements/rh-navigation-secondary/docs/30-code.md
  elements/rh-pagination/docs/30-code.md
  elements/rh-spinner/docs/30-code.md
  elements/rh-stat/docs/30-code.md
  elements/rh-subnav/docs/30-code.md
  elements/rh-tabs/docs/30-code.md
  elements/rh-tag/docs/30-code.md
  elements/rh-timestamp/docs/30-code.md
  elements/rh-tooltip/docs/30-code.md
Labels: docs, priority: high

#1223 fix(navigation-secondary): correct support for current page indicator
  .changeset/quick-actors-repeat.md
  elements/rh-navigation-secondary/demo/current-page-indicator.html
  elements/rh-navigation-secondary/demo/current-page.js
  elements/rh-navigation-secondary/demo/demo.css
  elements/rh-navigation-secondary/docs/30-code.md
  elements/rh-navigation-secondary/rh-navigation-secondary-dropdown.css
  elements/rh-navigation-secondary/rh-navigation-secondary-dropdown.ts
  elements/rh-navigation-secondary/rh-navigation-secondary-lightdom.css
  elements/rh-navigation-secondary/rh-navigation-secondary.css
  elements/rh-navigation-secondary/test/rh-navigation-secondary.spec.ts
Labels: bug, docs

#1245 fix(cta): revert removal of colorPalette, deprecate instead
  .changeset/tough-trainers-fail.md
  elements/rh-cta/rh-cta.ts
Labels: priority: high

#1225 feat(navigation-secondary): add roving tabindex controller
  .changeset/fast-waves-yell.md
  elements/rh-navigation-secondary/rh-navigation-secondary.ts
Labels: feature

#1314 docs: fix back-to-top blocking right aligned buttons and links
  docs/scss/_utility.scss
Labels: bug
