Repository RedHat-UX/red-hat-design-system, pull requests merged in 2024-08, with the labels that each got.

#1569 feat(card): promo variant
  .changeset/fair-buttons-punch.md
  elements/rh-card/demo/asset-pattern.html
  elements/rh-card/demo/bg-pattern.png
  elements/rh-card/demo/icon-pattern.html
  elements/rh-card/demo/image-pattern.html
  elements/rh-card/demo/kitten-200x150.jpeg
  elements/rh-card/demo/kitten-400x250.jpeg
  elements/rh-card/demo/kitten-900x300.jpeg
  elements/rh-card/demo/logo-pattern.html
  elements/rh-card/demo/promo-full-width.html
  elements/rh-card/demo/promo-narrow.html
  elements/rh-card/demo/promo-standard.html
  elements/rh-card/demo/promo.html
  elements/rh-card/demo/quote-pattern.html
  elements/rh-card/demo/sticky-pattern.html
  elements/rh-card/demo/title-pattern.html
  elements/rh-card/demo/variants.html
  elements/rh-card/demo/video-pattern.html
  elements/rh-card/rh-card.css
  elements/rh-card/rh-card.ts
Labels: feature

#1188 docs(card): explain element vs pattern
  docs/_data/playgrounds.json
  docs/_includes/layouts/pages/pattern.njk
  docs/_includes/partials/component/feedback.html
  docs/assets/javascript/elements/uxdot-pattern.js
  docs/patterns/card/examples.md
  docs/patterns/card/guidelines.md
  docs/patterns/card/index.md
  docs/patterns/card/patterns/asset.html
  docs/patterns/card/patterns/avatars.html
  docs/patterns/card/patterns/custom-themes.html
  docs/patterns/card/patterns/explicit-themes.html
  docs/patterns/card/patterns/fast-facts.html
  docs/patterns/card/patterns/icon.html
  docs/patterns/card/patterns/image.html
  docs/patterns/card/patterns/list.html
  docs/patterns/card/patterns/logos.html
  docs/patterns/card/patterns/quote.html
  docs/patterns/card/patterns/themes.html
  docs/patterns/card/patterns/title-bar.html
  docs/patterns/card/patterns/video.html
  elements/rh-card/docs/20-guidelines.md
  eleventy.config.cjs
Labels: docs

#1730 docs: widen description column on code docs table
  docs/styles/pages/code.css
Labels: docs

#1759 docs: remove extra whitespace in css custom properties values
  docs/_plugins/shortcodes/renderCodeDocs.cjs
Labels: docs

#1774 docs: remove fullscreen demo styles
  docs/_includes/layouts/demo.njk
Labels: docs

#1775 docs: add redhat mono font
  docs/assets/fonts/RedHatMono/RedHatMono-Bold.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-BoldItalic.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-Italic.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-Light.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-LightItalic.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-Medium.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-MediumItalic.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-Regular.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-SemiBold.woff2
  docs/assets/fonts/RedHatMono/RedHatMono-SemiBoldItalic.woff2
  docs/styles/fonts.css
Labels: docs

#1776 docs: fix missed font path
  docs/styles/fonts.css
Labels: docs

#1789 docs: updating release notes page
  docs/release-notes/index.md
Labels: docs

#1794 docs: fix Udacity course URL
  docs/accessibility/resources.md
Labels: bug, docs

#1790 docs: remove sidenav links underlines
  docs/assets/javascript/elements/uxdot-sidenav.js
Labels: bug, docs

#1795 docs: fixing rh-table lightdom CSS link/href path
  docs/release-notes/index.md
Labels: bug, docs

#1796 docs: fixing repoStatus tag icons
  docs/_plugins/shortcodes/repoStatus.cjs
  docs/design-code-status/index.md
Labels: bug, docs

#1799 docs: update screenshot files for icon and health index
  elements/rh-health-index/docs/screenshot.png
  elements/rh-icon/docs/screenshot.png
Labels: docs

#1810 docs: fix layout of release notes table on mobile
  docs/release-notes/index.md
Labels: docs
