Repository RedHat-UX/red-hat-design-system, pull requests merged in 2024-07, with the labels that each got.

#1688 docs: fix base "View Fullscreen" link URL on element Demos pages
  docs/elements/demos.html
Labels: docs

#1513 feat(switch): add `<rh-switch>`
  .changeset/wild-steaks-play.md
  docs/_data/relatedItems.yaml
  docs/_data/repoStatus.yaml
  elements/rh-switch/README.md
  elements/rh-switch/demo/check-icon.html
  elements/rh-switch/demo/color-context.html
  elements/rh-switch/demo/disabled.html
  elements/rh-switch/demo/fieldset.html
  elements/rh-switch/demo/nested-in-label.html
  elements/rh-switch/demo/reversed.html
  elements/rh-switch/demo/rh-switch.html
  elements/rh-switch/demo/rich-messages.html
  elements/rh-switch/demo/rtl.html
  elements/rh-switch/demo/without-messages.html
  elements/rh-switch/docs/00-overview.md
  elements/rh-switch/docs/10-style.md
  elements/rh-switch/docs/20-guidelines.md
  elements/rh-switch/docs/30-code.md
  elements/rh-switch/docs/40-accessibility.md
  elements/rh-switch/docs/screenshot.png
  elements/rh-switch/docs/switch-anatomy.svg
  elements/rh-switch/docs/switch-behavior.svg
  elements/rh-switch/docs/switch-best-practice-multiple-options-do-not.svg
  elements/rh-switch/docs/switch-best-practice-multiple-options-do.svg
  elements/rh-switch/docs/switch-best-practice-no-status-message-do-not.svg
  elements/rh-switch/docs/switch-best-practice-no-status-message-do.svg
  elements/rh-switch/docs/switch-configuration-alignment.svg
  elements/rh-switch/docs/switch-configuration-height.svg
  elements/rh-switch/docs/switch-focus-order.svg
  elements/rh-switch/docs/switch-keyboard-nav.svg
  elements/rh-switch/docs/switch-language-clarity-do-not.svg
  elements/rh-switch/docs/switch-language-clarity-do.svg
  elements/rh-switch/docs/switch-layout-stacking.svg
  elements/rh-switch/docs/switch-overview.svg
  elements/rh-switch/docs/switch-space-individual.svg
  elements/rh-switch/docs/switch-space-stack.svg
  elements/rh-switch/docs/switch-states.svg
  elements/rh-switch/docs/switch-status-message.svg
  elements/rh-switch/docs/switch-theme-dark.svg
  elements/rh-switch/docs/switch-theme-light.svg
  elements/rh-switch/docs/switch-touch-targets.svg
  elements/rh-switch/docs/switch-variants.svg
  elements/rh-switch/rh-switch.css
  elements/rh-switch/rh-switch.ts
  elements/rh-switch/test/rh-switch.e2e.ts
  elements/rh-switch/test/rh-switch.spec.ts
Labels: feature

#1535 feat(breadcrumb): add `<rh-breadcrumb>`
  .changeset/metal-snakes-wave.md
  docs/_data/comingSoonItems.yaml
  docs/_data/relatedItems.yaml
  docs/_data/repoStatus.yaml
  docs/styles/styles.css
  elements/rh-breadcrumb/README.md
  elements/rh-breadcrumb/demo/color-context.html
  elements/rh-breadcrumb/demo/custom-accessible-label.html
  elements/rh-breadcrumb/demo/non-interactive-last-item.html
  elements/rh-breadcrumb/demo/rh-breadcrumb.html
  elements/rh-breadcrumb/demo/subtle.html
  elements/rh-breadcrumb/docs/00-overview.md
  elements/rh-breadcrumb/docs/10-style.md
  elements/rh-breadcrumb/docs/20-guidelines.md
  elements/rh-breadcrumb/docs/30-code.md
  elements/rh-breadcrumb/docs/40-accessibility.md
  elements/rh-breadcrumb/docs/breadcrumb-active-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-active-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-consistent-placement-do.svg
  elements/rh-breadcrumb/docs/breadcrumb-consistent-placement-dont.svg
  elements/rh-breadcrumb/docs/breadcrumb-customizing-link-titles-do.svg
  elements/rh-breadcrumb/docs/breadcrumb-customizing-link-titles-dont.svg
  elements/rh-breadcrumb/docs/breadcrumb-focus-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-focus-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-focus-order.svg
  elements/rh-breadcrumb/docs/breadcrumb-hover-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-hover-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-placement.svg
  elements/rh-breadcrumb/docs/breadcrumb-responsive-large-breakpoint.svg
  elements/rh-breadcrumb/docs/breadcrumb-responsive-small-breakpoint.svg
  elements/rh-breadcrumb/docs/breadcrumb-sample-element.svg
  elements/rh-breadcrumb/docs/breadcrumb-space.svg
  elements/rh-breadcrumb/docs/breadcrumb-theme-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-theme-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-variant-default-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-variant-default-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-variant-subtle-dark.svg
  elements/rh-breadcrumb/docs/breadcrumb-variant-subtle-light.svg
  elements/rh-breadcrumb/docs/breadcrumb-when-not-to-use-do-2.svg
  elements/rh-breadcrumb/docs/breadcrumb-when-not-to-use-do.svg
  elements/rh-breadcrumb/docs/breadcrumb-when-not-to-use-dont-2.svg
  elements/rh-breadcrumb/docs/breadcrumb-when-not-to-use-dont.svg
  elements/rh-breadcrumb/docs/breadcrumbs-anatomy.svg
  elements/rh-breadcrumb/docs/screenshot.png
  elements/rh-breadcrumb/rh-breadcrumb-lightdom.css
  elements/rh-breadcrumb/rh-breadcrumb.css
  elements/rh-breadcrumb/rh-breadcrumb.ts
  elements/rh-breadcrumb/test/rh-breadcrumb.e2e.ts
  elements/rh-breadcrumb/test/rh-breadcrumb.spec.ts
Labels: feature

#1610 docs: fix spacing
  docs/assets/javascript/elements/uxdot-repo-status-list.js
  docs/styles/styles.css
  docs/tokens/tokens.html
Labels: docs

#1723 docs: add version number to masthead
  docs/_includes/partials/component/masthead.njk
  docs/assets/javascript/elements/uxdot-masthead-lightdom.css
  docs/assets/javascript/elements/uxdot-masthead.js
Labels: docs

#1724 docs(devs-start): fixing usage and tokens code blocks
  docs/get-started/developers/tokens.md
  docs/get-started/developers/usage.md
  docs/styles/styles.css
Labels: bug

#1726 docs(nav): fixing broken link on Nav element Overview
  elements/rh-navigation/docs/00-overview.md
Labels: bug, docs

#1728 fix(card): adding important to margin unset for headings
  .changeset/breezy-bears-judge.md
  elements/rh-card/rh-card.css
Labels: bug
