Repository RedHat-UX/red-hat-design-system, pull requests merged in 2024-10, with the labels that each got.

#1952 docs: fix hidden overflow on release notes table
  docs/release-notes/index.md
Labels: docs

#1954 docs: accessibility IA and content cleanup
  docs/accessibility/accessibility-tools.md
  docs/accessibility/assistive-tech.md
  docs/accessibility/ci-cd.md
  docs/accessibility/content.md
  docs/accessibility/contributors.md
  docs/accessibility/design.md
  docs/accessibility/development.md
  docs/accessibility/index.md
  docs/accessibility/manual-testing.md
  docs/accessibility/resources.md
  docs/accessibility/screen-readers-computer.md
  docs/accessibility/screen-readers-mobile.md
  docs/accessibility/screen-readers.md
Labels: docs

#1960 docs: updating status color usage info
  docs/foundations/color/usage.md
  elements/rh-tag/docs/20-guidelines.md
Labels: docs

#1962 docs: adding height width attrs to images
  docs/about/index.md
  docs/about/roadmap.md
  docs/accessibility/accessibility-tools.md
  docs/accessibility/content.md
  docs/accessibility/design.md
  docs/accessibility/manual-testing.md
  docs/accessibility/screen-readers.md
  docs/assets/get-started/developers/web-components-1.svg
  docs/assets/get-started/developers/web-components-2.svg
  docs/assets/get-started/developers/web-components-3.svg
  docs/assets/javascript/elements/uxdot-hero.css
  docs/design-code-status/index.md
  docs/elements/demos.html
  docs/foundations/color/accessibility.md
  docs/foundations/color/index.md
  docs/foundations/color/usage.md
  docs/foundations/grid.md
  docs/foundations/index.md
  docs/foundations/personalization.md
  docs/foundations/spacing.md
  docs/foundations/typography/index.md
  docs/foundations/typography/scale.md
  docs/foundations/typography/usage.md
  docs/get-started/designers.md
  docs/get-started/developers/contributing.md
  docs/get-started/developers/index.md
  docs/get-started/index.md
  docs/index.njk
  docs/patterns/announcement/index.md
  docs/patterns/card/guidelines.md
  docs/patterns/disclosure/index.md
  docs/patterns/filter/index.md
  docs/patterns/form/index.md
  docs/patterns/link-with-icon/index.md
  docs/patterns/link/index.md
  docs/patterns/logo-wall/guidelines.md
  docs/patterns/logo-wall/index.md
  docs/patterns/logo-wall/style.md
  docs/patterns/search-bar/index.md
  docs/patterns/skip-navigation/index.md
  docs/patterns/sticky-banner/index.md
  docs/patterns/sticky-card/index.md
  docs/patterns/tabs/examples.md
  docs/patterns/video-thumbnail/index.md
  docs/styles/pages/backpage.css
Labels: docs

#1950 docs: add guidelines about emphasis to a11y content
  docs/accessibility/content.md
Labels: docs

#1989 fix(tabs): corrects active tab styles in SSR
  .changeset/new-years-pull.md
  elements/rh-tabs/rh-tab.ts
Labels: bug

#1987 docs: use rh-code-block lightdom css from package path
  docs/_includes/layouts/base.njk
  docs/styles/lightdom.css
  docs/styles/rh-code-block-lightdom.css
  uxdot/uxdot-pattern.css
Labels: docs

#1956 docs(card): add promo docs to style and guidelines
  elements/rh-card/docs/10-style.md
  elements/rh-card/docs/20-guidelines.md
  elements/rh-card/docs/card-background-dark.svg
  elements/rh-card/docs/card-background-light.svg
  elements/rh-card/docs/card-best-practices-cta-number-do.svg
  elements/rh-card/docs/card-best-practices-cta-number-dont.svg
  elements/rh-card/docs/card-best-practices-cta-variants-do.svg
  elements/rh-card/docs/card-best-practices-cta-variants-dont.svg
  elements/rh-card/docs/card-best-practices-promo-do.svg
  elements/rh-card/docs/card-best-practices-promo-dont.svg
  elements/rh-card/docs/card-best-practices-width-do.svg
  elements/rh-card/docs/card-best-practices-width-dont.svg
  elements/rh-card/docs/card-bestpractice-1.svg
  elements/rh-card/docs/card-bestpractice-2.svg
  elements/rh-card/docs/card-bestpractice-3.svg
  elements/rh-card/docs/card-spacing-promo-featured.svg
  elements/rh-card/docs/card-spacing-promo-full-width.svg
  elements/rh-card/docs/card-spacing-promo-narrow.svg
  elements/rh-card/docs/card-spacing-promo-standard.svg
  elements/rh-card/docs/card-theme-promo-featured-full-width.svg
  elements/rh-card/docs/card-theme-promo-standard.svg
  elements/rh-card/docs/card-variants-promo-featured.svg
  elements/rh-card/docs/card-variants-promo-full-width.svg
  elements/rh-card/docs/card-variants-promo-narrow.svg
  elements/rh-card/docs/card-variants-promo-standard.svg
Labels: docs

#1999 docs: clean up content at various pages (e.g., 404)
  docs/404.njk
  docs/accessibility/screen-readers-computer.md
  elements/rh-card/docs/20-guidelines.md
Labels: docs

#1988 docs(menu): hide `<rh-menu>` from sidenav and all elements
  docs/_data/repoStatus.yaml
  docs/_includes/partials/component/sidenav.njk
  docs/_plugins/element-docs.ts
  docs/elements/index.njk
Labels: docs

#1998 docs(uxdot-copy-button): add accessible labels to copy buttons
  docs/_plugins/tokensHelpers.ts
  uxdot/uxdot-copy-button.css
  uxdot/uxdot-copy-button.ts
Labels: docs, for a11y review

#1997 fix(navigation-secondary): theming token support
  .changeset/old-foxes-sing.md
  elements/rh-navigation-secondary/demo/dark-variant.html
  elements/rh-navigation-secondary/rh-navigation-secondary.css
  elements/rh-navigation-secondary/rh-navigation-secondary.ts
Labels: bug

#1994 docs: fix path to code-block lightdom
  docs/styles/lightdom.css
Labels: docs

#2008 docs: add tile with tag pattern
  docs/patterns/tile/examples.md
  docs/patterns/tile/patterns/accented-tile.html
  docs/patterns/tile/patterns/tile-with-tag.html
Labels: docs
