Repository RedHat-UX/red-hat-design-system, pull requests merged in 2024-09, with the labels that each got.

#1828 chore: correct eslint path to uxdot-elements.js in ignores
  eslint.config.js
Labels: bug

#1825 docs: fix repoStatus naming convention
  docs/_data/repoStatus.yaml
Labels: docs

#1826 docs: remove rti from sidenav
  docs/assets/javascript/elements/uxdot-sidenav.ts
Labels: docs

#1835 fix(cta): ensure icon loads on default variant
  .changeset/slimy-experts-call.md
  elements/rh-cta/rh-cta.ts
Labels: bug

#1821 fix: remove rti from navigations
  .changeset/giant-planets-argue.md
  .changeset/gorgeous-impalas-knock.md
  .changeset/swift-nails-notice.md
  docs/_includes/partials/component/header.njk
  elements/rh-accordion/rh-accordion.ts
  elements/rh-navigation-secondary/demo/analytics.html
  elements/rh-navigation-secondary/rh-navigation-secondary.ts
  elements/rh-subnav/demo/dynamic.html
  elements/rh-subnav/rh-subnav.ts
Labels: bug

#1823 fix(navigation-secondary): correct line height logo text
  .changeset/wild-foxes-smoke.md
  elements/rh-navigation-secondary/rh-navigation-secondary-lightdom.css
Labels: bug

#1800 docs(logo-wall): use container queries, fix overflow
  docs/patterns/logo-wall/logo-wall-lightdom.css
  docs/patterns/logo-wall/patterns/1x1-grid-flat.html
  docs/patterns/logo-wall/patterns/1x1-grid.html
  docs/patterns/logo-wall/patterns/2x2-grid.html
  docs/patterns/logo-wall/patterns/2x3-grid.html
Labels: docs

#1838 fix(button): host display contents
  .changeset/selfish-spies-fry.md
  elements/rh-button/rh-button.css
Labels: bug

#1841 fix(tooltip): add border radius
  .changeset/wicked-steaks-love.md
  elements/rh-tooltip/rh-tooltip.css
  lib/elements/rh-context-picker/rh-context-picker.css
Labels: bug

#1833 fix(navigation secondary):dark variant block-end border visibility
  .changeset/happy-eels-fail.md
  elements/rh-navigation-secondary/rh-navigation-secondary.css
Labels: bug

#1805 docs: update accordion header markup after charmander release
  docs/get-started/designers.md
  docs/patterns/disclosure/index.md
  elements/rh-accordion/README.md
  elements/rh-accordion/docs/00-overview.md
  elements/rh-accordion/docs/30-code.md
Labels: docs

#1850 docs: reinstate uxdot-example
  .gitignore
  docs/assets/javascript/elements/uxdot-example.css
  docs/assets/javascript/elements/uxdot-example.ts
Labels: bug

#1855 docs: reinstate uxdot-pattern
  docs/assets/javascript/elements/uxdot-pattern.js
  package.json
Labels: docs

#1851 docs: reinstate uxdot-installation-tabs
  .gitignore
  docs/_plugins/shortcodes/renderInstallation.cjs
  docs/assets/javascript/elements/uxdot-installation-tabs.ts
Labels: docs

#1869 fix(audio-player) corrected focused on menu button after escape pressed
  .changeset/big-glasses-drum.md
  elements/rh-audio-player/rh-audio-player.ts
Labels: bug

#1804 feat(table): adding automatic data-labels on col-scoped tables
  .changeset/khaki-rings-confess.md
  elements/rh-table/demo/auto-data-labels.html
  elements/rh-table/docs/30-code.md
  elements/rh-table/rh-table.ts
Labels: feature

#1882 docs: add edit this page link
  docs/_includes/layouts/pages/basic.njk
  docs/_includes/layouts/pages/elements.njk
  docs/_includes/layouts/pages/pattern.njk
  docs/_includes/partials/component/back-to-top.njk
  docs/_includes/partials/component/edit-this-page.njk
  docs/styles/styles.css
  elements/rh-back-to-top/rh-back-to-top.css
Labels: docs

#1902 docs: lightdomcss install shortcode
  docs/_plugins/shortcodes.cjs
  docs/_plugins/shortcodes/renderLightDom.cjs
  elements/rh-audio-player/docs/40-code.md
  elements/rh-breadcrumb/docs/30-code.md
  elements/rh-code-block/docs/40-code.md
  elements/rh-cta/docs/30-code.md
  elements/rh-footer/docs/30-code.md
  elements/rh-navigation-secondary/docs/30-code.md
  elements/rh-pagination/docs/30-code.md
  elements/rh-skip-link/docs/30-code.md
  elements/rh-subnav/docs/30-code.md
  elements/rh-table/docs/30-code.md
  elements/rh-tile/docs/30-code.md
Labels: docs

#1798 docs: adding screen reader testing page
  docs/accessibility/assistive-tech.md
  docs/accessibility/q-a-testing.md
  docs/accessibility/screen-readers.md
Labels: docs

#1916 docs: fix all patterns page layout + content issues
  docs/assets/javascript/elements/uxdot-masthead.css
  docs/assets/javascript/elements/uxdot-sidenav.css
  docs/assets/patterns/all-patterns-logo-wall.png
  docs/assets/patterns/all-patterns-tile.png
  docs/patterns/index.md
Labels: docs

#1896 fix(table): improve color contrast of hover state
  elements/rh-table/demo/color-context.html
  elements/rh-table/rh-table-lightdom.css
  elements/rh-table/rh-table.css
  elements/rh-table/rh-table.ts
Labels: bug

#1904 fix(tabs): interaction states, css refactor/nesting
  .changeset/large-geese-suffer.md
  elements/rh-tabs/demo/icons-and-text.html
  elements/rh-tabs/rh-tab-panel.css
  elements/rh-tabs/rh-tab-panel.ts
  elements/rh-tabs/rh-tab.css
  elements/rh-tabs/rh-tabs.css
  elements/rh-tabs/rh-tabs.ts
  elements/rh-tabs/test/rh-tabs.spec.ts
  package-lock.json
  package.json
Labels: bug

#1920 docs: fix getElementDescription filter
  docs/_plugins/rhds.cjs
Labels: docs

#1922 docs: `uxdot-repo-status-list` missing border
  docs/assets/javascript/elements/uxdot-repo-status-list.css
Labels: docs

#1924 docs: fix header element causing horizontal scroll bars
  docs/assets/javascript/elements/uxdot-header.css
  docs/assets/javascript/elements/uxdot-header.ts
Labels: docs

#1930 docs: update tags docs
  docs/_data/relatedItems.yaml
  docs/_data/repoStatus.yaml
  docs/_includes/layouts/pages/elements.njk
  docs/_includes/layouts/pages/pattern.njk
  docs/elements/demo.html
  docs/styles/pages/code.css
  elements/rh-tag/docs/00-overview.md
  elements/rh-tag/docs/10-style.md
  elements/rh-tag/docs/20-guidelines.md
  elements/rh-tag/docs/40-accessibility.md
  elements/rh-tag/docs/tag-a11y-figure-1.png
  elements/rh-tag/docs/tag-a11y-figure-2.png
  elements/rh-tag/docs/tag-a11y-using-color-fig-1.svg
  elements/rh-tag/docs/tag-a11y-using-color-fig-2.svg
  elements/rh-tag/docs/tag-anatomy.png
  elements/rh-tag/docs/tag-best-practice-1.png
  elements/rh-tag/docs/tag-best-practice-2.png
  elements/rh-tag/docs/tag-best-practice-3.png
  elements/rh-tag/docs/tag-configuration.png
  elements/rh-tag/docs/tag-grouping.png
  elements/rh-tag/docs/tag-guidelines-best-practice-do-1.svg
  elements/rh-tag/docs/tag-guidelines-best-practice-do-2.svg
  elements/rh-tag/docs/tag-guidelines-best-practice-do-3.svg
  elements/rh-tag/docs/tag-guidelines-best-practice-dont-1.svg
  elements/rh-tag/docs/tag-guidelines-best-practice-dont-2.svg
  elements/rh-tag/docs/tag-guidelines-best-practice-dont-3.svg
  elements/rh-tag/docs/tag-guidelines-responsive-design.svg
  elements/rh-tag/docs/tag-guidelines-status-color.svg
  elements/rh-tag/docs/tag-guidelines-status-icon.svg
  elements/rh-tag/docs/tag-guidelines-status-text-1.svg
  elements/rh-tag/docs/tag-guidelines-status-text-2.svg
  elements/rh-tag/docs/tag-guidelines-usage-desaturated-tag.svg
  elements/rh-tag/docs/tag-guidelines-writing-content.svg
  elements/rh-tag/docs/tag-icons.png
  elements/rh-tag/docs/tag-overview.svg
  elements/rh-tag/docs/tag-sample-element.png
  elements/rh-tag/docs/tag-space-theme-dark.png
  elements/rh-tag/docs/tag-space-theme-light.png
  elements/rh-tag/docs/tag-status-color.png
  elements/rh-tag/docs/tag-status-text.png
  elements/rh-tag/docs/tag-style-anatomy.svg
  elements/rh-tag/docs/tag-style-interaction-states-focus-active.svg
  elements/rh-tag/docs/tag-style-interaction-states-hover.svg
  elements/rh-tag/docs/tag-style-space.svg
  elements/rh-tag/docs/tag-style-theme-dark.svg
  elements/rh-tag/docs/tag-style-theme-light.svg
  elements/rh-tag/docs/tag-style-variants-color.svg
  elements/rh-tag/docs/tag-style-variants-decorative-icon.svg
  elements/rh-tag/docs/tag-style-variants-interactivity.svg
  elements/rh-tag/docs/tag-style-variants-size.svg
  elements/rh-tag/docs/tag-style-variants-style.svg
  elements/rh-tag/docs/tag-text-labels.png
  elements/rh-tag/docs/tag-variants-colors.png
  elements/rh-tag/docs/tag-white-tag.png
Labels: docs

#1928 fix(tile): remove `display: block` on image slot
  .changeset/shaggy-foxes-smoke.md
  elements/rh-tile/rh-tile.css
Labels: bug

#1901 docs(color): change minimum column width of color token swatches
  docs/foundations/color/index.md
Labels: docs

#1937 docs: developer theming wording, grammar, typo fixes
  docs/theming/developers.md
Labels: docs

#1939 docs: remove `role` attributes from `<uxdot-sidenav>`
  docs/assets/javascript/elements/uxdot-sidenav.ts
Labels: docs

#1943 fix(card): computed context
  elements/rh-card/rh-card.ts
Labels: bug
