Repository RedHat-UX/red-hat-design-system, pull requests merged in 2025-06, with the labels that each got.

#2419 perf(code-block): compute linenumbers when codeblock approaches viewport
  .changeset/quiet-roses-jog.md
  elements/rh-code-block/demo/below-the-fold.html
  elements/rh-code-block/rh-code-block.ts
Labels: priority: high

#2432 docs(accordion): removing extraneous > from accessibility page
  elements/rh-accordion/docs/40-accessibility.md
Labels: bug, docs

#2438 fix(audio-player): layout issue between 576px and 768px breakpoints
  .changeset/swift-guests-glow.md
  elements/rh-audio-player/rh-audio-player.css
Labels: bug

#2435 docs(styles): adding margin between adjacent code-blocks and alerts
  docs/styles/styles.css
Labels: bug, docs
