Repository RedHat-UX/red-hat-design-system, pull requests merged in 2025-04, with the labels that each got.

#2223 docs: differentiate "Using color alone" sections on multiple pages
  docs/accessibility/design.md
  docs/foundations/color/accessibility.md
Labels: docs

#2245 docs(cards+tiles): adding cards vs tiles context and cross links
  elements/rh-card/docs/00-overview.md
  elements/rh-card/docs/20-guidelines.md
  elements/rh-tile/docs/00-overview.md
  elements/rh-tile/docs/20-guidelines.md
Labels: docs

#2253 docs(foundations): adding usage of black color content
  docs/foundations/color/usage/index.md
Labels: docs

#2264 docs: update site footer
  docs/_includes/partials/component/footer.njk
Labels: docs

#2279 docs(navigation-primary): removing old content from Style and Guidelines docs
  elements/rh-navigation-primary/docs/10-style.md
  elements/rh-navigation-primary/docs/20-guidelines.md
  elements/rh-navigation-primary/docs/overview.png
Labels: bug, docs

#2239 docs(designers): improving IA of the Designers Get Started section
  docs/_plugins/rhds.ts
  docs/get-started/designers/faqs.md
  docs/get-started/designers/figma-library.md
  docs/get-started/designers/github.md
  docs/get-started/designers/index.md
Labels: docs

#2297 docs(demos): removing double border inside demo card + code-block
  uxdot/uxdot-demo.css
Labels: docs

#2302 fix(tile): empty body + footer slots
  .changeset/smart-roses-pick.md
  elements/rh-tile/demo/without-footer-content.html
  elements/rh-tile/rh-tile.css
  elements/rh-tile/rh-tile.ts
Labels: bug

#2335 [docs] Scale and rhythm page minor edits
  docs/foundations/typography/scale-and-rhythm/index.md
Labels: docs

#2332 fix(tabs): corrected hidden icons
  .changeset/eighty-results-bow.md
  elements/rh-tabs/demo/icons-and-text.html
  elements/rh-tabs/rh-tab.css
  elements/rh-tabs/rh-tab.ts
Labels: bug

#2333 docs(a11y): adding guidance for opening links in new windows
  docs/accessibility/content.md
  docs/accessibility/design.md
  docs/foundations/interactions/links/index.md
Labels: docs

#2334 fix: oklch token fallbacks
  .changeset/better-colts-sleep.md
  .changeset/cyan-states-rescue.md
  .changeset/five-eyes-own.md
  .changeset/legal-onions-cheat.md
  .changeset/ninety-hotels-travel.md
  .changeset/tangy-heads-sort.md
  .changeset/tasty-poems-march.md
  .changeset/twelve-doors-sneeze.md
  elements/rh-accordion/rh-accordion-header.css
  elements/rh-code-block/rh-code-block.css
  elements/rh-dialog/rh-dialog.css
  elements/rh-health-index/rh-health-index.css
  elements/rh-navigation-secondary/rh-navigation-secondary-lightdom.css
  elements/rh-pagination/docs/overview.svg
  elements/rh-pagination/rh-pagination.css
  elements/rh-switch/docs/overview.svg
  elements/rh-switch/rh-switch.css
  elements/rh-tile/rh-tile.css
Labels: bug

#2339 docs(navigation-primary): correct missing logo slot docs
  .changeset/violet-bananas-prove.md
  elements/rh-navigation-primary/rh-navigation-primary.ts
Labels: docs

#2327 docs: cross-link `Interactions` and `Accessibility` link guidance
  docs/accessibility/design.md
  docs/foundations/interactions/links/index.md
Labels: docs
